@font-face {
  font-family: "Roboto-regular";
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

.fix-size-container {
  width: 1100px;
  margin: 0 auto;
}

.header {
  background-color: #EEEFF1;
  padding-top: 79px;
}

.header_list > .item {
  display: inline-block;
}

.header_list a {
  font-family: Roboto-regular;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: black;
  text-decoration: none;
}

.header_list .active {
  color: #34547A;
}

.header_list .margin ~ .item {
  margin-left: 42px;
}

.main_title {
  font-family: Roboto-Bold;
  font-size: 48px;
  font-weight: 500;
  line-height: 78.75px;
  text-align: left;
  padding-top: 162px;
}

.text_info {
  font-family: Roboto-regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 26.25px;
  text-align: left;
  color: #727272;
  width: 540px;
  margin-top: 60px;
}

.button {
  font-family:Roboto-regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 26.25px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #FFFFFF;
  width: 225px;
  height: 65px;
  background-color: #34547A;
  border: none;
  margin-top: 65px;
  margin-bottom: 141px;
}

.first_section {
  background-color: #EEEFF1;
}

.title_second {
  font-family: Roboto-regular;
  font-size: 32px;
  font-weight: 500;
  line-height: 37.5px;
  text-align: center;
  padding-top: 112px;
  padding-bottom: 50px;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.second_section {
  padding-bottom: 100px;
  background-color: #ffffff;
}

.third_section {
  background-color: #34547A;
  padding: 100px 0;
}

.card {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-right: 20px;
}

.card_text {
  display: inline-block;
  vertical-align: top;
  font-family: Roboto-regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 26.25px;
  text-align: left;
  color: #FFFFFF;
}

.margin ~ .card {
  margin-left: 45px;
}

iframe {
    width: 100%;
    height: 600px;
    margin-top: 57px;
}

footer {
    background-color: #34547A;
    height: 151px;
}

.padding_footer {
    padding: 50px 0;
}

.text_footer {
    font-family: "Roboto_medium";
    font-size: 21px;
    color: #FFF;
    font-weight: 500;
    margin-bottom: 20PX;
}

.small_text {
    color: #FFF;
    font-family: "Roboto_regular";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}